html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

.puzzle-container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  height: 300px;
  width: 300px; }

.portfolio {
  background-image: url("../images/bg-dark.jpg"); }

.bg-green {
  background-color: lime; }

.bg-blue {
  background-color: blue; }

.bg-red {
  background-color: red; }

.bg-yellow {
  background-color: yellow; }
