.piece {
  background-color: #0284cf;
  border-radius: 7%;
  height: 150px;
  opacity: 0;
  position: absolute;
  width: 150px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: scale3d(3, 3, 3);
  -moz-transform: scale3d(3, 3, 3);
  -ms-transform: scale3d(3, 3, 3);
  transform: scale3d(3, 3, 3); }

.piece:before,
.piece:after,
.piece span,
.piece span:before,
.piece span:after {
  border-radius: 50%;
  content: "";
  height: 46.875px;
  position: absolute;
  width: 46.875px; }

.center-piece:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.center-piece:after {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.center-piece span {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.center-piece span:before {
  top: -67.96875px;
  left: 63.28125px;
  background-color: white; }

.piece1:after {
  background-color: white;
  top: 46.875px;
  left: 114.84375px; }

.piece1:before {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.piece2 {
  top: 0px;
  left: 150px; }

.piece2:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece2 span {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.piece2 span:before {
  top: -67.96875px;
  left: 63.28125px;
  background-color: white; }

.piece3 {
  top: 0px;
  left: 300px; }

.piece3:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece3:after {
  background-color: white;
  top: 46.875px;
  left: 114.84375px; }

.piece3 span {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.piece4 {
  right: 0px; }

.piece4:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece4:after {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.piece5 {
  top: 150px; }

.piece5:before {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.piece5 span {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.piece5 span:before {
  top: -67.96875px;
  left: 63.28125px;
  background-color: white; }

.piece6 {
  top: 150px;
  left: 150px; }

.piece7 {
  top: 150px;
  left: 300px; }

.piece8 {
  top: 150px;
  left: 450px; }

.piece8:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece8:after {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.piece8 span {
  top: 114.84375px;
  left: 51.5625px;
  border-radius: 50%;
  background-color: white; }

.piece9 {
  top: 300px; }

.piece9:after {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.piece9 span {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.piece9 span:before {
  top: -67.96875px;
  left: 63.28125px;
  background-color: white; }

.piece10 {
  top: 300px;
  left: 150px; }

.piece11 {
  top: 300px;
  left: 300px; }

.piece12 {
  top: 300px;
  left: 450px; }

.piece12:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece12:after {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.piece12 span {
  top: 114.84375px;
  left: 51.5625px;
  background-color: white; }

.piece13 {
  top: 450px; }

.piece13:after {
  background-color: white;
  top: 46.875px;
  left: 114.84375px; }

.piece13:before {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.piece14 {
  left: 150px;
  top: 450px; }

.piece14:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece14:after {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.piece14 span:before {
  background-color: white;
  top: 46.875px;
  left: 114.84375px; }

.piece15 {
  top: 450px;
  left: 300px; }

.piece15:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece15:after {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }

.piece15 span:before {
  top: 46.875px;
  left: 114.84375px;
  background-color: white; }

.piece16 {
  top: 450px;
  left: 450px; }

.piece16:before {
  background-color: #0284cf;
  top: 46.875px;
  left: -35.15625px; }

.piece16:after {
  background-color: #0284cf;
  top: -35.15625px;
  left: 51.5625px; }
