body {
  background-color: #DFFDFF;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-kerning: normal;
  /* antialiased, none, subpixel-antialiased*/
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always; }

.wrapper {
  height: 100%;
  width: 100%; }

.page-section,
.cutoff-wipe,
.rope-cutoff-wipe {
  height: 100%;
  position: relative;
  width: 100%; }

.home-heading {
  position: absolute;
  left: 5%;
  text-transform: lowercase;
  top: 75px; }
  @media (min-width: 768px) {
    .home-heading {
      left: 150px; } }

.side-nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .side-nav ul li {
    margin-bottom: 15px;
    padding-right: 20px;
    position: relative; }
    .side-nav ul li:before {
      content: "";
      width: 13px;
      height: 1px;
      right: 20px;
      top: 50%;
      position: absolute;
      background-color: #000; }
    .side-nav ul li.active:before {
      visibility: hidden; }
    .side-nav ul li.active a {
      opacity: 1; }
    .side-nav ul li a {
      color: #fff;
      opacity: 0; }

.pulley-wheel {
  background: url("../images/rope-bg.jpg");
  border-radius: 50%;
  height: 100px;
  left: 25px;
  position: fixed;
  top: 50px;
  width: 100px;
  z-index: 2; }

.pulley-wheel--outer {
  background: #333;
  background: -webkit-linear-gradient(bottom right, #333 0%, #666 10%, #999, 50%, #AAA 90%, #DDD 100%);
  background: linear-gradient(to top left, #333 0%, #666 10%, #999, 50%, #AAA 90%, #DDD 100%);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: fixed;
  left: 30px;
  top: 55px;
  z-index: 5; }

.pulley-wheel--indentation {
  background: #333;
  background: -webkit-linear-gradient(top left, #333 0%, #666 10%, #888 20%, #999 33%, #AAA 66%, #DDD 90%, #DDD 100%);
  background: linear-gradient(to bottom right, #333 0%, #666 10%, #888 20%, #999 33%, #AAA 66%, #DDD 90%, #DDD 100%);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  left: 40px;
  top: 65px;
  z-index: 6; }

.pulley-wheel--ridge {
  background: #666;
  background: -webkit-linear-gradient(bottom right, #666 0%, #999 10%, #AAA 33%, #BBB 66%, #CCC 90%, #EEE 100%);
  background: linear-gradient(to top left, #666 0%, #999 10%, #AAA 33%, #BBB 66%, #CCC 90%, #EEE 100%);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: fixed;
  left: 55px;
  top: 80px;
  z-index: 7; }

.pulley-wheel--bump {
  background: #666;
  background: -webkit-linear-gradient(top left, #666 0%, #999 10%, #AAA 33%, #BBB 66%, #CCC 90%, #EEE 100%);
  background: linear-gradient(to bottom right, #666 0%, #999 10%, #AAA 33%, #BBB 66%, #CCC 90%, #EEE 100%);
  border-radius: 50%;
  height: 34px;
  width: 34px;
  position: fixed;
  left: 58px;
  top: 83px;
  z-index: 8; }

.pulley-wheel--hole {
  background-color: #333;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: fixed;
  left: 70px;
  top: 95px;
  z-index: 9; }

.rope {
  background: url("../images/rope-bg.jpg");
  background-position: 44%;
  position: absolute;
  left: 115px;
  top: 0;
  width: 10px;
  z-index: 1; }
  .rope.left {
    height: 200% !important;
    left: 25px;
    position: fixed;
    top: -175%; }

.rope--weight {
  position: fixed;
  left: 0px;
  width: 60px;
  z-index: 3;
  top: 24%; }

.rope--hook {
  position: absolute;
  width: 60px;
  left: 104px;
  top: -77px;
  z-index: 3; }

.wrapper--rope-cutoff {
  height: 100px;
  left: 20px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 125px;
  z-index: 2; }
  .wrapper--rope-cutoff .bg-dark-wood.rope-cutoff-wipe {
    background-position: -20px 0px; }
  .wrapper--rope-cutoff .bg-dark-wood.cutoff-wipe {
    background-position: -35px -70px; }

.wrapper--bottom-cutoff {
  height: 50px;
  left: 35px;
  overflow: hidden;
  position: fixed;
  top: 100px;
  width: 80px;
  z-index: 3; }

/*# sourceMappingURL=pulley-scroll.css.map */
