.in-place {
  opacity: 1; }
  .in-place.piece {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }

.rotate-360 {
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg); }

@media (min-width: 768px) {
  .puzzle-container {
    width: 600px;
    height: 600px; }

  .piece {
    display: block; }

  .home-nav {
    font-size: 64px; }

  .piece2 {
    top: 0px;
    left: 150px; }

  .piece3 {
    top: 0px;
    left: 300px; }

  .piece4 {
    right: 0px; }

  .piece5 {
    top: 150px; }

  .piece6 {
    top: 150px;
    left: 150px; }

  .piece7 {
    top: 150px;
    left: 300px; }

  .piece8 {
    top: 150px;
    left: 450px; }

  .piece9 {
    top: 300px; }

  .piece10 {
    top: 300px;
    left: 150px; }

  .piece11 {
    top: 300px;
    left: 300px; }

  .piece12 {
    top: 300px;
    left: 450px; }

  .piece13 {
    top: 450px; }

  .piece14 {
    left: 150px;
    top: 450px; }

  .piece15 {
    top: 450px;
    left: 300px; }

  .piece16 {
    top: 450px;
    left: 450px; }

  .img-window,
  .three-d-container {
    height: 100vh; }

  .site-description {
    font-size: 20px;
    width: 390px; }

  .prism {
    height: 400px; }
    .prism .front-face,
    .prism .back-face {
      height: 525px; }
    .prism .right-face,
    .prism .left-face {
      height: 430px;
      top: -4px; }
    .prism .bottom-face {
      top: 403px; } }
