@import "vars";

html { 
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 52px;
  letter-spacing: -2px;

  @media (min-width: $breakpoint-small) {
  	font-size: 8rem;
  	letter-spacing: -5px;
  }
  
}

h2 {
  font-size: 18px;

  @media (min-width: $breakpoint-small) {
    font-size: 1.8rem;
  }
}

a {
  text-decoration: none;
}

.puzzle-container { 
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	height: $piece-height * 2; 
	width: $piece-width * 2;
}

.portfolio {
	background-image: url("../images/bg-dark.jpg");
}

.bg-green {
	background-color: $bg-green;
}
.bg-blue {
	background-color: $bg-blue;
}.bg-red {
	background-color: $bg-red;
}.bg-yellow {
	background-color: $bg-yellow;
}
.bg-grey {
	// background-color: #101010;
}