@import "vars";
@import "mixins";

/* Inspired by a design seen here: https://github.com/sergeylukin/css-jigsaw-puzzle-piece/blob/master/css/jigsaw-2.css */


.piece {
  background: url("../images/bg-dark.jpg");
  border-radius: $border-radius;
  display: none;
  height: $piece-height;
  opacity: 0;
  position: absolute;
  width: $piece-width;
  @include transition(all 2s ease);
  @include transform(scale3d(3,3,3));
}
.piece:before,
.piece:after,
.piece span,
.piece span:before,
.piece span:after { 
  border-radius: 50%;
  content: "";
  height: $knob-height;
  position: absolute;
  width: $knob-width;
}

//------------ INDIVIDUAL PIECE COMPONENTS --------------
// Right hole to be applied to child element of the piece
.right-hole:after { 
  top: $right-hole-top;
  left: $right-hole-left;
  background-color: $background-color;
}
// Right hole for pieces that do not have a bottom element
.right-hole2 {
  background-color: $background-color;
  top: $knob-height;
  left: $bottom-hole;
}
// Right knob to be applied to child element of the piece
.right-knob:after { 
  background: url(#{$piece-color});
  top: $knob-height;
  left: $bottom-hole;
}
// Bottom hole for pieces that do not have a child element
.bottom-hole {
  top: $bottom-hole;
  left: $left-center;
  background-color: $background-color;
}
// Left knob to be added to the piece element
.left-knob:before {
  background: url(#{$piece-color});
  top: $knob-height;
  left: $left-knob;
}
//Left hole to be added to the piece element
.left-hole:before {
  background-color: $background-color;
  top: $knob-height;
  left: $left-knob;
}
// Bottom knob to be added to the child of the piece element
.bottom-knob {
  top: $bottom-hole;
  left: $left-center;
  background: url(#{$piece-color});
}
// Top knob to be added to the piece element
.top-knob:after { 
  background: url(#{$piece-color});
  top: $left-knob;
  left: $left-center;
}


.overlay {
  background: url("../images/bg-dark.jpg");
  border-radius: $border-radius;
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.home-nav {
  width: 80%;
  opacity: 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Hammersmith One', sans-serif;
  color: $nav-text-color;
  @include transition(all 2s ease);

  li {
    padding: 20px 0px;
    position: relative;
    
    &:before,
    &:last-child:after {
      content: '';
      display: block;
      position: absolute;
      width: 120%;
      height: 5px;
      left: -10%;
      background: -webkit-radial-gradient(center,cover, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0) 70%);    }
      // background: -moz-radial-gradient(center,cover, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0) 70%);    }

    &:before {
      top: -2px;
    }

    &:last-child:after {
      bottom: -2px; 
    }

    &:hover {
      cursor: pointer;
      color: #000;
    }
  }
}


// ====================== PORTFOLIO ========================


.highlight-box {
  height: 1250px;
}

.highlight-box:not(:nth-child(1)) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.three-d-container { 
  position: relative;
  height: 200px;
}


// a prism, in this context, is a 3-d element to be contained in 
// an element with some perspective. It this class will mainly be 
// used for the skewed rectangular prism containing the website description
.prism {
  position: fixed;
  width: 90%;
  height: 200px;
  
  margin: auto;
  top: 0;
  bottom: 0;
  left: 800px;

  @include transform-style( preserve-3d );

  &:hover {
    cursor: pointer;
    @include transform( rotateY(180deg) );
  }

  &.left-prism {
    top: 100px;
    left: 0px;

    @include transform( rotate(180deg) );
    
    .site-description {
      @include transform( rotate(180deg) );
    }
  }

  .prism-face {
    position: absolute;
    background-color: $secondary;
    opacity: 0.8;
    border: 2px solid black;
  }

  .front-face, 
  .back-face {
    width: 1000px;
    height: 325px;
  }

  .right-face,
  .left-face {
    width: 175px;
    height: 266px;
    top: -21px;
  }

  .top-face,
  .bottom-face {
    width: 1000px;
    height: 141px;
  }
}


.img-window {
  position: relative;
  width: 100%;
  height: 300px;
}

.highlight-window {
  border: 5px solid $secondary;
  border-radius: 7px;
  width: 90%;
  height: auto;
  max-height:90%;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 20px $secondary;
    cursor: pointer;
  }
}

.site-description {
  position: relative;
  font-size: 16px;
  width: 260px;
  padding: 20px;
}


.trigger { 
  display: block;
  width: 100px;
  background-color: red;
  height: 2px;
}

// .animate { 
// width: 100px;
// color: blue;
// height: 2px;
// }

