@import "vars";
@import "mixins";


.piece1 {
  display: block;
}
.piece4 {
  display: block;
  right:0px;
}
// --------- PIECE 13 ----------
.piece13 {
  display: block;
  top: $piece-height;
}
// --------- PIECE 16 ----------
.piece16 {
  display: block;
  top: $piece-height;
  left: $piece-width;
}
