@mixin box-sizing($args) {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

@mixin antialiasing( $type:antialiased ) {
  /* antialiased, none, subpixel-antialiased*/
  -webkit-font-smoothing: $type;
  font-smoothing: $type;
  font-smooth: always;
}

@mixin transform($transition) {
  -webkit-transform: $transition;
     -moz-transform: $transition;
      -ms-transform: $transition;
          transform: $transition;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin perspective($args) {
  -webkit-perspective: $args;
  -moz-perspective: $args;
  -ms-perspective: $args;
  -o-perspective: $args;
  perspective: $args;
}

@mixin transform-style($args) {
  -webkit-transform-style: $args;
  -moz-transform-style: $args;
  -ms-transform-style: $args;
  -o-transform-style: $args;
  transform-style: $args;
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}