@import "vars";
@import "mixins";

.opaque {
  opacity: 1.0;
}

.in-place { 
	opacity: 1.0;

  &.piece {
	  @include transform(scale3d(1,1,1));
  }
}

// class to be added to an element that 
// will cause it to grow and shrink rapidly
.pulsate {
  @include animation( pulse 1s ease infinite );
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.5);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.5);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.5);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }

  25% {
    -o-transform: scale(1.5);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}


/* -------------------- Small devices and larger -----------------*/
@media (min-width: 768px) {

.puzzle-container { 
	width: $piece-width * 4;
	height: $piece-height * 4; 
}	

.piece { 
	display: block;
}

.in-place-md { 
  opacity: 1.0;

  &.piece {
    @include transform(scale3d(1,1,1));
  }
}

.home-nav {
  font-size: 64px;
}

// --------- PIECE 1 ----------
.piece1 {
}
// --------- PIECE 2 ----------
.piece2 {
  top:0px;
  left: $piece-width;
}
// --------- PIECE 3 ----------
.piece3 {
  top:0px;
  left: $piece-width*2;
}
// --------- PIECE 4 ----------
.piece4 {
  right:0px;
}
// --------- PIECE 5 ----------
.piece5 {
  top: $piece-height;
}
// --------- PIECE 6 ----------
.piece6 {
  top: $piece-height;
  left: $piece-width;
}
// --------- PIECE 7 ----------
.piece7 {
  top: $piece-height;
  left: $piece-width*2;
}
// --------- PIECE 8 ----------
.piece8 {
  top: $piece-height;
  left: $piece-width * 3;
}
// --------- PIECE 9 ----------
.piece9 {
  top: $piece-height*2;
}
// --------- PIECE 10 ----------
.piece10 {
  top: $piece-height * 2;
  left: $piece-width;
}
// --------- PIECE 11 ----------
.piece11 {
  top: $piece-height * 2;
  left: $piece-width * 2;
}
// --------- PIECE 12 ----------
.piece12 {
  top: $piece-height * 2;
  left: $piece-width * 3;
}
// --------- PIECE 13 ----------
.piece13 {
  top: $piece-height * 3;
}
// --------- PIECE 14 ----------
.piece14 {
  left: $piece-width;
  top: $piece-height * 3;
}
// --------- PIECE 15 ----------
.piece15 {
  top: $piece-height * 3;
  left: $piece-width * 2;
}
// --------- PIECE 16 ----------
.piece16 {
  top: $piece-height * 3;
  left: $piece-width * 3;
}  

} // END small 


@media (orientation: landscape) {
  .carousel {
    top: 10%;
    height: 80%;
  }
}

