// sass variabless

$piece-width: 150px;
$piece-height: 150px;
$piece-color: #0302CF;
$background-color: #fff;

$container-width: $piece-width * 4;
$container-height: $piece-width * 4;


$knob-width: $piece-width/3.2;
$knob-height: $piece-height/3.2;
$knob-offset: $knob-width/4;
$left-knob: ($knob-width - $knob-offset) * -1;
$bottom-knob: $piece-height - $knob-offset;
$bottom-hole: $piece-height - ($knob-height - $knob-offset);
$right-hole-top:  ($bottom-hole - $knob-width) * -1;


$left-center: ($piece-width/2) - ($knob-width/2);
$top-center: -($piece-width - ($knob-width + $knob-offset));
$right-hole-left: $left-center + $knob-offset;